<% layout("/layouts/boilerplate") -%>

<div class="empty-state">
    <div class="emoji"> 😕 </div>
    <h2>No results found</h2>
    <p>We couldn't find anything for <b> <%= location %> </b> .Try a different search.</p>
    <button class="browse-listings"><a href="/listings">Browse all listings</a></button>
</div>
