body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-box{
    flex: 1;
}

.show-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
    font-weight: 500;
}
.airbnb{
    font-size: 2rem;
    color: #fe424d;
} 

/* index page */
.tax-toggle{
    width:17rem;
    margin-left: 0 !important;
}

.display-tax{
    display: flex;
    justify-content: center;
}


/* footer */
.f-terms a{
    text-decoration: none;
    color: black;
}
.f-terms a:hover{
    text-decoration: underline;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.f-social i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

/* cards */
.maincard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.card-img-top{
    height: 20rem;
    width: 100%;
    border-radius: 1rem !important;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    margin-right: 1rem;
    height: 18rem;
    width: 22rem;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.card-hover:hover{
    opacity: 0.8;
}

.card{
    width: 35rem;
}


/*new page */
.addbtn{
    background-color:#fe424d !important;
    color: black;
    border: none !important;
}

/* Edit page */
.editbtn{
      background-color: #fe424d !important;
      color: black;
      border: none !important;
}

/* show page */
.btns{
    display: flex;
}

/* search page */
.emoji{
    font-size: 10rem;
}

.empty-state{
    text-align: center;
}

.browse-listings {
  background: none;
  padding: 5px 10px;
  border-radius: 1rem;
  background-color: black;
  border: 1px solid white;

}

.browse-listings a{
    text-decoration: none;
    color: beige
}

.browse-listings:active{
    background-color: rgb(75, 74, 74);
}

/* map styling */
#map{
    height:400px;
    width: 100%;
}

.map-review{
    width: 35rem;
}


/* media queries */

 @media((min-width:500px) and (max-width:600px)){
    .fullcard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
    }
    .map-review{
        width: 28rem;
    }
} 

@media((min-width:300px) and (max-width:500px)){
    .fullcard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%;
    }
    .map-review{
        width: 20rem;
    }
    
    .review-card{
       width:60% !important ;
    }
} 
